<a href="https://colab.research.google.com/github/fd-journey/journey/blob/main/Workshop_Conditional_Logic_vanilla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Frederic Daoud** frederic.daoud@gmail.com

#**NOTE:**
Please insert a text cell at the top of the Notebook with your Full Name in Bold and your email that you use for both Journey and Github

Also, add to the title of the notebook, an underscore as well as your favourite flavour of ice cream beside it.

Ex. 'Workshop_Conditional_Logic_Cookies_and_Cream'

#Warm Up

Import numpy, matplotlib.pyplot and name them np and plt respectively.

In [1]:
import numpy as np
import matplotlib.pyplot as plt

Use the range function to list out all even numbers between 1 and 30.

In [3]:
print(list(range(0,31,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Create a tuple with 6,1,2,3,4,5 as entries and name it "Tuple". Convert tuple to an array and name the array 'Array'. Finally write a line that will double each element in Array **without** using a loop and print the result.

In [4]:
Tuple = (6,1,2,3,4,5)
Array = np.array(Tuple)
print(Array*2)

[12  2  4  6  8 10]

Now, let's do the above exercise with a loop. Convert Tuple to a list and name it "List". Use a for loop to double all elements in List and print the result.

In [5]:
List = list(Tuple)


for i in List:
  print(i*2)

12
2
4
6
8
10

How many iterations will this while loop have? Why does the while loop stop in the first place?

```
i=0
while i<16:
  print (i)
  i=i+1
```

Write the number of iterations here: 16

Why does the while loop stop?

It stops because i < 16 is False (i = 16)

#Exercises

##Blast Off
Use a loop that counts backwards from 5 and prints out 'Blast Off!' after it counts 1.

Output should be


```
5
4
3
2
1
Blast Off!
```
**Hint**
The range function can go backwards. Make sure you select the appropriate starting number, ending number and make your step size -1.

In [10]:
for i in range(5,0,-1):
  if i != 1:
    print(i)
  elif i == 1:
    print(i)
    print("Blast Off")

5
4
3
2
1
Blast Off

##Updating a list and Creating a New List

Create a list with entries 0,4,5,8,2,9 and name it "num". Use a while loop over num and print out all entries.

In [21]:
num = [0,4,5,8,2,9]

i = 0

while i in range(len(num)):
  print(num[i])
  i = i + 1

0
4
5
8
2
9

Create an empty list and name it 'X'. Use a for loop to append all even numbers from 0 to 20 into X.

In [24]:
X = []

for i in range(0,20,2):
  X.append(i)
X

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list with entries 6, 4, 6, 5, 123, 37, 82, 44, 39 and save it as "numbers". Loop through the elements in numbers and replace the element with "Even" if it is an even number.

Example:


```
Input
Y = [3,4,5,8,10]

Output
Y = [3,Even,5,Even,Even]
```
**Hint:**Recall how to replace entries in a list from the previous lecture.

In [142]:
numbers = [6,4,6,5,123,37,82,44,39]

for i in range(len(numbers)):
  if i%2 == 0:
    numbers[i] = "even"
    

numbers    
    
#if(int(x) % 2):

['even', 4, 'even', 5, 'even', 37, 'even', 44, 'even']

In [146]:
for x in numbers:
  if x%2 == 0:
    numbers[x] = "even"

9

Create a empty list and a list with entries 1, 3, 2, 1, 5, 3, 5, 1, 4 and name them "unique" and "original" respectively. Use a loop to iterate over entries in "original" and add all unique entries into "unique".


```
Input:
unique = []
original = [1, 3, 2, 1, 5, 3, 5, 1, 4]

Output:
unique = [1, 3, 2, 5, 4]
```
**Hint** Your loop should look something like this:


```
for i in ___:
    if i not in ___:
        ____.append(i)

print (___)
```

In [69]:
unique = []
original = [1, 3, 2, 1, 5, 3, 5, 1, 4]

for i in original:
  if i not in unique:
    unique.append(i)

print(unique)

[1, 3, 2, 5, 4]

##String Manipulation

Create a string as "one two 3 4 five 6" and save it as numbers

In [70]:
numbers = "one two 3 4 five 6"

Run the line, numbers.split() and save the result as X and print it.

In [75]:
X = numbers.split()
print(X)

['one', 'two', '3', '4', 'five', '6']

The previous line created a list from the words and numbers that was in the original string.

Now create a dictionary with the key- value pairs ('one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6) and name it 'values'.

In [76]:
values = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

Create an empty list and name it "numeric". Run a loop over "X" and have the loop output all entries in X as numbers inside numeric. The input/output follows:


```
Input:
numeric = []
values = ['one', 'two', '3', '4', 'five', '6']

Output:
numeric = [1, 2, 3, 4, 5, 6]
```
**Hint:** Your code should be in the form of:



```
for i in ____:
    if i in values.keys():
          ___.append(values[i])
    else:
          ___.append(int(i))

print (____)
```

In [77]:
numeric = []

for i in X:
  if i in values.keys():
    numeric.append(values[i])
  else:
    numeric.append(int(i))

print(numeric)

[1, 2, 3, 4, 5, 6]

Convert numeric into a string by running

```
'  '.join(str(x) for x in numeric) 
```
and save the result as 'string' and print it.

In [85]:
string = " ".join(str(x) for x in numeric)
print(string)

1 2 3 4 5 6

**Bonus:**
Trace the code used in the String Manipulation Section and try to explain using words, what the code is doing overall.

Iterating through list X, if the string matched a key in the dictionary "values" (if i in values.keys():), list "numeric" is appended to include the value of the matching key from the "values" dictionary (numeric.append(values[i])).

If the string did not match any keys from the "values" dictionary, the string was converted to an integer type and appended to list "numeric (else:
    numeric.append(int(i))).

Using the join function, each entry found in list "numeric" were joined/concatenated together using a space (" ".join). Since the join fonction can only be used with strings and numeric is a list of int, using list comprehension, we looped through list numeric to convert each element to a string while applying the join function ((str(x) for x in numeric)).

#Debugging

Below you will find sample codes with a few bugs in them. Identify where the bugs are and write the debugged code in the code block and run it.

Write a loop that finds **all even** entries from 0 to 20 (inclusive) and prints them.


```
for i in range(0,20,-3):
    if i%2 = 0
    print (i)
```

In [90]:
for i in range(0,21):
    if i%2 == 0:
      print (i)

0
2
4
6
8
10
12
14
16
18
20

Write a loop that iterates over a list of strings and prints "True" if the string is a palindrome and "False" if the string isn't. A palindrome is a word that can be read the same way forward as it can backwards. (Ex. noon, level, civic)



```
Words = ['ball', 'kayak', 'song', 'python', 'madam', 'racecar', 'noon']
for word in words:
    result = 'False'
    for i in range(len(word)/2):
        if word[i] = word[-1-i]:
                                  result = 'True'
else:
            result = 'False'
        print (Result)
    


```

In [108]:
Words = ['ball', 'kayak', 'song', 'python', 'madam', 'racecar', 'noon']

result = []

for word in Words:
  if word == word[::-1]:
    result.append("True")
  else:
    result.append("False")
print (result)

['False', 'True', 'False', 'False', 'True', 'True', 'True']

Edit the code to create a list of the first 10 entries of the Fibonacci Sequence and print it. The Fibonacci Sequence is a sequence of numbers starting from 1, where consecutive numbers are obtained by summing the previous two.

Your Output should be:

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]



```
Fibonacci = [1,1]
for i in range (1,5) and i>4:
    x = Fibonacci[i] + Fibonacci[i-1]
    Fibonacci.append(i)

print (Fibonacci)

```

In [118]:
Fibonacci = [1,1]
i = 1 

while len(Fibonacci) < 10:
  x = Fibonacci[i] + Fibonacci[i-1] 
  Fibonacci.append(x)
  i = i +1
 
print (Fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Create a loop that will go through a string and count how many of each vowel the string contains:



```
string = 'cauliflower is very healthy'

a = 0
e = 0
i = 0
o = 0
u = 0
y = 0
for letter in string:
  if letter = 'a':
    o = o + 1
  if letter == 'b':
    e = e + 1
  if letter == 'i':
    i = i + 1
  if letter == 'o':
    a = a + 1
  else:
    u = u + 1
print(f"There are {a} a's, {e} e's, {i} i's, {o} o's, {u} u's & {y} y's in the string")
```

In [120]:
string = 'cauliflower is very healthy'
 
a = 0
e = 0
i = 0
o = 0
u = 0
y = 0

for letter in string:
  if letter == 'a':
    a = a + 1
  if letter == 'e':
    e = e + 1
  if letter == 'i':
    i = i + 1
  if letter == 'o':
    o = o + 1
  if letter == 'u':
    u = u + 1
  if letter == 'y':
    y = y + 1

print(f"There are {a} a's, {e} e's, {i} i's, {o} o's, {u} u's & {y} y's in the string")

There are 2 a's, 3 e's, 2 i's, 1 o's, 1 u's & 2 y's in the string

#More Interview Questions


- What is the difference between Python Arrays and lists? (Write your answer in a text cell below)

- What is the difference between list and tuples in Python?

1. Python Arrays can have operations applied to each elements whereas lists cannot. 
2. Lists are mutable while tuples are immutable. Lists are denoted by using [] brackets while tuples use () brackets.

In [ ]:
'''
Write a program that prints the following pattern, using a 'for' loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

In [121]:
for i in range(10):
  if i <= 5:
    print("*" * i)
  else:
    print((10-i)*"*")

*
**
***
****
*****
****
***
**
*

In [ ]:
'''
For the following list, iterate through and print all the terms that contain an integer
'''

word_list = ['hello', 'goodbye', 'yes1', 'no', 'maybe2']

In [135]:
word_list = ['hello', 'goodbye', 'yes1', 'no', 'maybe2']

for i in word_list:
  for x in i:
    if x.isdigit() = True
    print(i)

SyntaxError: ignored

In [ ]:
'''
For the following list of integers, write a program that returns a list of all the even numbers
'''

number_list = [1,2,3,4,5,6,7,8,9]

In [138]:
number_list = [1,2,3,4,5,6,7,8,9]

l=[]
for i in number_list:
  if i%2 == 0:
    l.append(i)

print(l)

[2, 4, 6, 8]

#Bonus 

Create a list with elements ["Toronto", "Vancouver", "Montreal"], and create a nested for loop that returns a list of these strings in reverse order.



```
Input
["Toronto", "Vancouver", "Montreal"]

Output
["otnoroT", "revuocnaV", "laertnoM"]
```

In [137]:
l =  ["Toronto", "Vancouver", "Montreal"]
r=[]
for i in l:
  r.append(i[::-1])
print(r)

['otnoroT', 'revuocnaV', 'laertnoM']